@import './general-colors.scss';

$general-grey: (
  lighter_4: map-get($grey-colors, lighter_grey_4),
  lighter_3: map-get($grey-colors, lighter_grey_3),
  lighter_2: map-get($grey-colors, lighter_grey_2),
  lighter_1: map-get($grey-colors, lighter_grey_1),
  default: map-get($grey-colors, default_grey),
  darker_1: map-get($grey-colors, darker_grey_1),
  contrast: (
    lighter_4: black,
    lighter_3: black,
    lighter_2: black,
    lighter_1: black,
    default: black,
    darker_1: black,
  ),
);

$general-green: (
  lighter_1: map-get($green-colors, lighter_green_1),
  default: map-get($green-colors, default_green),
  darker_1: map-get($green-colors, darker_green_1),
  contrast: (
    lighter_1: black,
    default: black,
    darker_1: black,
  ),
);

$general-yellow: (
  lighter_1: map-get($yellow-colors, lighter_yellow_1),
  default: map-get($yellow-colors, default_yellow),
  darker_1: map-get($yellow-colors, darker_yellow_1),
  contrast: (
    lighter_1: black,
    default: black,
    darker_1: black,
  ),
);

$general-red: (
  lighter_1: map-get($red-colors, lighter_red_1),
  default: map-get($red-colors, default_red),
  darker_1: map-get($red-colors, darker_red_1),
  contrast: (
    lighter_1: black,
    default: black,
    darker_1: black,
  ),
);
