@import 'theme';

#video-rect {
  position: relative;
  width: 100%;
  margin-bottom: 8px;
  padding-bottom: 56.25%;

  video {
    position: absolute;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-right: auto;
    margin-left: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

label {
  display: block;
  margin-top: 0;
  margin-bottom: 4px;
  padding-left: 2px;
}

mat-select {
  width: 100%;
  background-color: mat-color($app-primary);
  border-radius: 4px;
  margin-bottom: 8px;
  ::ng-deep .mat-select-trigger {
    padding: 13px 12px;
  }
}

.mat-dialog-title {
  margin-bottom: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
}
