<p id="thankyou">
  Danke fürs Benutzen des HSE Video-Chats! Was möchten Sie als nächstes tun?
</p>

<div id="thankyou_img">
  <img src="assets/img/undraw_road_sign_mfpo.png" alt="goodbye" class="center">
 </div>

<div >
  <ul id="functions">
    <li>
      <button
        type="submit"
        id="btn_back2room"
        class="form-element button"
        name="btn_back2room"
        (click)="backtoroom()"
      >
        Back to meeting
      </button>
    </li>
    <li>
      <button
      type="submit"
      id="btn_back2start"
      class="form-element button"
      name="btn_back2start"
      (click)="backtostart()"
      >Back to Frontpage
      </button>
    </li>
  </ul>
</div>



<div id="social">
  <ul>
    <li>

    </li>
  </ul>
</div>
<footer id="footer">
  <nav>
    <ul>
      <li><span id="Kontakt">Kontakt</span></li>
      <li>
        <span id="Datenschutz"
          ><a href="/info/datenschutz">Datenschutz</a></span
        >
      </li>
      <li>
        <span id="Impressum"><a href="/info/Impressum">Impressum</a></span>
      </li>
    </ul>
  </nav>
</footer>
