<main>
  <div id="spacer"></div>
  <img id="thankyou_img" src="assets/img/undraw_road_sign_mfpo.svg" alt="goodbye" />

  <p id="thankyou">
    Danke fürs Benutzen des HSE Video-Chats!
  </p>

  <div id="functions">
    <button type="submit" class="button" (click)="backtoroom()">
      Zurück zum Meeting
    </button>
    <button type="submit" class="button" routerLink="/">
      Zur Startseite
    </button>
  </div>


</main>

<footer id="footer">
  <nav>
    <div class="space"></div>
    <a routerLink="/kontakt">Kontakt</a>
    <a routerLink="/datenschutz">Datenschutz</a>
    <a routerLink="/impressum">Impressum</a>
  </nav>
</footer>