<img id="thankyou_img" src="assets/img/undraw_road_sign_mfpo.svg" alt="goodbye" class="center" />

<p id="thankyou">
  Danke fürs Benutzen des HSE Video-Chats! Was möchten Sie als nächstes tun?
</p>


<div>
  <ul id="functions">
    <li>
      <button type="submit" class="button" (click)="backtoroom()">
        Back to meeting
      </button>
    </li>
    <li>
      <button type="submit" class="button" routerLink="/">
        Back to Frontpage
      </button>
    </li>
  </ul>
</div>

<div id="social">
  <ul>
    <li></li>
  </ul>
</div>
<footer id="footer">
  <nav>
    <ul>
      <li><span id="Kontakt">Kontakt</span></li>
      <li>
        <span id="Datenschutz"><a href="/info/datenschutz">Datenschutz</a></span>
      </li>
      <li>
        <span id="Impressum"><a href="/info/Impressum">Impressum</a></span>
      </li>
    </ul>
  </nav>
</footer>