MEDIASOUP_WORKER_BIN=dist/worker/mediasoup-worker
CALLBACK_URL=https://hse-chat.app/login/callback
ENTRY_POINT=https://samltest.id/idp/profile/SAML2/Redirect/SSO
ISSUER=https://hse-chat.app/shibboleth
SESSION_SECRET=secret
# SESSION_STORE: [ redis | memory ]
SESSION_STORE=memory
SESSION_STORE_URL=localhost
# NODE_ENV: [ development | production ]
NODE_ENV=development
# LOGLEVEL possibilities: [ trace | debug | info | warn | error | fatal | fatal ] default is info
LOGLEVEL=info
# logfile must have .log extension
LOGFILE=server.log
SIGN_SECRETKEY=secret

# UNIVERSITY: [ gannon | esslingen ]
UNIVERSITY=gannon


OAUTH_CLIENT_ID=secret
OAUTH_CLIENT_SECRET=secret

AD_CLIENT_SECRET=secret
AD_METHADATA=https://login.microsoftonline.com/c9515ae6-7419-4ae5-a700-4bb5f4afa7dc/v2.0/.well-known/openid-configuration

# vim:filetype=sh
