MEDIASOUP_WORKER_BIN=dist/worker/mediasoup-worker
CALLBACK_URL=https://hse-chat.app/login/callback
ENTRY_POINT=https://samltest.id/idp/profile/SAML2/Redirect/SSO
ISSUER=https://hse-chat.app/shibboleth
SESSION_SECRET=secret
# NODE_ENV: [ development | production ]
NODE_ENV=development
# LOGLEVEL possibilities: [ trace | debug | info | warn | error | fatal | fatal ] default is info
LOGLEVEL=info
# logfile must have .log extension
LOGFILE=server.log


