<div id="content">
    <div id="header">
        <div class="horizontal">
            <!-- <h4 *ngIf="poll.title !== undefined" i18n>{{ poll.title }}</h4> -->
            <h4 i18n>New Poll</h4>
            <div id="close">
                <!-- <button id="hide" class="primary-button" (click)="closeChatEvent.emit({element: poll, type: 'chat'})"> -->
                <button id="hide" class="primary-button">
                    <i class="material-icons">clear</i>
                </button>
            </div>
        </div>
    </div>

    <div id="questions">
        <div class="title">
            <label>Name of the poll:</label>
            <textarea cdkTextareaAutosize [(ngModel)]="poll.title" placeholder="Set a name of your poll..."></textarea>
        </div>
        <ng-container *ngFor="let question of poll.questions; let i = index">
            <app-poll-question [question]="question" [pollId]="poll.id"></app-poll-question>
        </ng-container>

        <ng-container *ngIf="poll.owner === currentUser && poll.state === 0">
            <button class="add-element primary-button" (click)="addElement()"><i class="material-icons">add</i>Add Element</button>
        </ng-container>
    </div>
</div>
<div id="poll-actions">
    <button id="close" class="button secondary-button">Cancel</button>
    <button id="save" class="button secondary-button">Save</button>
    <button id="publish" class="button primary-button">Publish</button>
</div>
