<div id="content">
    <div id="header">
        <div class="horizontal">
            <h4 *ngIf="poll.title !== undefined" i18n>{{poll.title}}</h4>
            <h4 *ngIf="poll.title === undefined" i18n>New Poll</h4>
            <div id="close">
                <!-- <button id="hide" class="primary-button" (click)="closeChatEvent.emit({element: poll, type: 'chat'})"> -->
                <button id="hide" class="primary-button">
                    <i class="material-icons">clear</i>
                </button>
            </div>
        </div>

        <div class="horizontal">
            <label>Name of the poll:</label>
            <textarea cdkTextareaAutosize [(ngModel)]="poll.title" placeholder="Set a name of your poll..."></textarea>
        </div>
    </div>

    <div id="questions">
        <div *ngFor="let question of poll.questions; let i = index"  class="question">
            <app-poll-question [question]="question"></app-poll-question>
        </div>
        <ng-container *ngIf="poll.owner === currentUser && poll.releaseStatus === false">
            <!-- <mat-select [value]="" (selectionChange)="question.type = $event"> -->
            <mat-select id="add-question" class="primary-button">
                <mat-option [value]="type" *ngFor="let type of questionsTypes">{{type}}</mat-option>
            </mat-select>
        </ng-container>
    </div>

    <div id="poll-actions">
        <button id="close" class="button secondary-button">Cancel</button>
        <button id="save" class="button secondary-button">Save</button>
        <button id="publish" class="button primary-button">Publish</button>
    </div>
</div>
