@import 'theme';

$app-individual: map-get($app-theme, individual);
$app-pictures: map-get($app-theme, pictures);

header {
  position: relative;
  z-index: 10000;
  width: calc(100%);
  height: 52px;
  color: mat-color($app-primary, lighter_2-contrast);
  background-color: mat-color($app-individual, app-header);

  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 0px 0 0px;
  font-size: 18px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  .right {
    position: absolute;
    right: 0px;
  }

  #logo {
    height: 42px;
    padding-left: 8px;

    #app-logo {
      max-height: 42px;
      content: map-get($app-pictures, app-logo);
    }
  }

  #logout {
    line-height: 42px;
    margin-right: 5px;
    padding-right: 8px;
    padding-left: 8px;
    border: none;
    background-color: inherit;
    color: inherit;
    font-size: inherit;
    border-radius: 8px;
  }

  a {
    font-size: smaller;
    text-decoration: none;
    color: lightgrey;
  }

  a:hover {
    color: white;
  }

  @media (min-width: 768px) {
    .extern {
      margin-left: 20px;
      // position: relative;
      // left: 200px;
    }
  }

  @media (max-width: 767px) {
    .extern {
      visibility: hidden;
    }
  }

  #spacer {
    flex-grow: 1;
  }
}
