<header>
    <a routerLink="/" id="logo"><img id="app-logo" alt="Logo der Hochschule Esslingen" /></a>
    <a class="extern" target="_blank" href="https://www.hs-esslingen.de/">WWW</a>
    <a class="extern" target="_blank" href="https://moodle.hs-esslingen.de/moodle/">MOODLE</a>
    <a class="extern" target="_blank" href="https://www.hs-esslingen.de/lsf">LSF</a>
    <a class="extern" target="_blank" href="https://intranetportal.hs-esslingen.de/de/he-portal/quicklinks.html">QUICKLINKS</a>
    <a class="extern" target="_blank" href="https://intranetportal.hs-esslingen.de/de/he-portal/einfuehrung-intranet.html">?</a>
    <div id="spacer"></div>
    <button class="right" id="logout" *ngIf="api.isLoggedIn" (click)="logout()">Logout</button>
</header>
