<header>
    <a class="left" routerLink="/" id="logo"><img src="/assets/img/logo_negative.png"
            alt="Logo der Hochschule Esslingen" /></a>
    <ul>
        <li><a class="extern" href="https://www.hs-esslingen.de/">WWW</a></li>
        <li><a class="extern" href="https://intranetportal.hs-esslingen.de/">INTRANETPORTAL</a></li>
        <li><a class="extern" href="https://intranetportal.hs-esslingen.de/de/he-portal/lsf.html">LSF</a></li>
        <li><a class="extern" href="https://intranetportal.hs-esslingen.de/de/he-portal/quicklinks.html">QUICKLINKS</a>
        </li>
        <li><a class="extern" href="https://intranetportal.hs-esslingen.de/de/he-portal/einfuehrung-intranet.html">?</a>
        </li>
    </ul>
    <button class="right" id="logout" *ngIf="api.isLoggedIn" (click)="logout()">Logout</button>
</header>
