#videochat {
  height: calc(100vh - 52px);
  width: 100%;
  display: block;
  position: relative;


  #local {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    position: absolute;
    right: 16px;
    top: 16px;
    max-width: 200px;
    width: 20%;
    border-radius: 4px;
    z-index: 1000;
  }

  #single-stream {
    height: 99%;
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0;
    width: fit-content;
    min-width: 50%;
  }

  #streams {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    position: absolute;
    height: 100%;
    width: 100%;

    &.single {
      flex-wrap: nowrap;
      justify-content: flex-start;
      flex-direction: column;
      right: 16px;
      max-width: 120px;
      width: 18%;
      bottom: 112px;
      height: auto;
      max-height: calc(100% - 300px);
      overflow-y: auto;

      @media (max-width: 490px) {
        max-height: calc(100% - 200px);
      }

      .user {
        cursor: pointer;
        border-radius: 4px;
        flex-shrink: 1;
        margin-bottom: 4px;
        max-width: 100%;
        max-height: calc(90% - 16px);
        width: 100%;

        ::ng-deep video {
          width: 100%;
        }
      }

      /* width */
      &::-webkit-scrollbar {
        width: 10px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #0c1729;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #2a5094;
        border-radius: 5px;
        border: 2px solid #0c1729;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    }

    &:not(.single) {
      .user {
        border-radius: 4px;
        flex-shrink: 1;
        margin-bottom: 16px;
        // height: calc(100% - 16px);
        max-width: 100%;
        max-height: calc(90% - 16px);
        width: 100%;

        ::ng-deep video {
          width: 100%;
        }
      }

      .user:nth-last-child(n+2),
      .user:nth-last-child(n+2)~.user {
        max-width: calc(50% - 16px);
        max-height: calc(100% - 16px);
        margin-left: 8px;
        margin-right: 8px;

        

        @media (max-width: 768px) {
          max-width: calc(50% - 2px);
          max-height: calc(100% - 2px);
          margin-left: 1px;
          margin-right: 1px;
        }
      }

      .user:nth-last-child(n+3),
      .user:nth-last-child(n+3)~.user {
        width: auto;
        min-width: 20%;
        height: calc(45% - 16px);

        ::ng-deep video {
          width: unset;
        }
      }

      .user:nth-last-child(n+5),
      .user:nth-last-child(n+5)~.user {
        max-width: calc(32% - 16px);
      }

      .user:nth-last-child(n+7),
      .user:nth-last-child(n+7)~.user {
        max-height: calc(32% - 16px);
      }

      .user:nth-last-child(n+10),
      .user:nth-last-child(n+10)~.user {
        max-height: calc(25% - 16px);
      }
    }
  }

  #no-user {
    z-index: 100;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: #193058;
    padding: 16px;
    position: absolute;
    top: 33%;
    right: 0;
    left: 0;
    width: fit-content;
    border-radius: 8px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;


    @media (max-width: 560px) {
      margin-right: 8px;
      margin-left: 8px;
    }

    h2 {
      margin: 0px 0px 16px 0px;
    }

    input {
      color: white;
      background-color: #0c1729;
      width: calc(100% - 12px);
      border-radius: 4px;
      border: none;
      outline: none;
      padding: 8px 4px 8px 4px;
      text-align: center;
      margin: 0 auto 0 auto;
      font-size: 20px;
      -webkit-user-select: all;
      user-select: all;

      &::selection {
        color: black;
        background: #bed7ff;
        // text-shadow: #1c3762;
      }
    }
  }
  #duplicate-session {
    z-index: 100;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: #193058;
    padding: 16px;
    position: absolute;
    top: 33%;
    right: 0;
    left: 0;
    width: fit-content;
    border-radius: 8px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;


    @media (max-width: 600px) {
      margin-right: 8px;
      margin-left: 8px;
    }

    h2 {
      margin: 0px 0px 16px 0px;
    }
  }



  #toolbar {
    position: fixed;
    opacity: 1;
    bottom: 0px;
    right: 32px;
    left: 32px;
    width: calc(100% - 64px);
    display: flex;
    justify-content: space-between;
    transition: opacity 0.25s ease-in-out;

    &.hidden {
      opacity: 0;
    }

    @media (max-width: 768px) {
      justify-content: center;
      right: 8px;
      left: 8px;
      width: calc(100% - 16px);
    }


    button {
      height: 56px;
      width: 56px;
      margin: 16px 8px 40px 8px;
      border-radius: 28px;
      color: white;

      @media (max-width: 768px) {
        margin: 16px 6px 24px 6px;

        &.screen-share {
          visibility: hidden;
        }
      }


      i {
        line-height: 56px;
      }

      &.toggle {
        background-color: rgba(0, 0, 0, 0.38);

        &:hover {
          background-color: rgba(0, 0, 0, 0.76);
        }

        &.disabled {
          background-color: white;
          color: black;
        }
      }

      &.end-call {
        background-color: #db4437;
      }
    }
  }
}