#videochat {
  height: calc(100vh - 52px);
  width: 100%;
  position: relative;


  #local {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    position: absolute;
    right: 16px;
    top: 16px;
    max-width: 200px;
    width: 20%;
    border-radius: 4px;
  }

  #streams {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 100%;

    .user {
      border-radius: 4px;
      flex-shrink: 1;
      margin-bottom: 16px;
      height: calc(100% - 16px);
      max-width: 100%;
      width: 100%;
    }

    .user:nth-last-child(n+2),
    .user:nth-last-child(n+2)~.user {
      max-width: calc(50% - 16px);

      margin-left: 8px;
      margin-right: 8px;
    }

    .user:nth-last-child(n+3),
    .user:nth-last-child(n+3)~.user {
      max-height: calc(40% - 16px);
    }

    .user:nth-last-child(n+5),
    .user:nth-last-child(n+5)~.user {
      max-width: calc(32% - 16px);
    }

    .user:nth-last-child(n+7),
    .user:nth-last-child(n+7)~.user {
      max-height: calc(32% - 16px);
    }

    .user:nth-last-child(n+10),
    .user:nth-last-child(n+10)~.user {
      max-height: calc(25% - 16px);
    }
  }




  #toolbar {
    position: absolute;
    bottom: 0px;
    right: 32px;
    left: 32px;
    width: calc(100% - 64px);
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
      justify-content: center;
      right: 8px;
      left: 8px;
      width: calc(100% - 16px);
    }


    button {
      height: 56px;
      width: 56px;
      margin: 16px 8px 40px 8px;
      border-radius: 28px;
      color: white;

      @media (max-width: 768px) {
        margin: 16px 6px 24px 6px;

        &.screen-share {
          visibility: hidden;
        }
      }
  

      i {
        line-height: 56px;
      }

      &.toggle {
        background-color: rgba(0, 0, 0, 0.38);

        &:hover {
          background-color: rgba(0, 0, 0, 0.76);
        }

        &.disabled {
          background-color: white;
          color: black;
        }
      }

      &.end-call {
        background-color: #db4437;
      }
    }
  }
}