<div id="videochat">
  <video *ngIf="cameraState === 'videocam'" [srcObject]="localStream" [volume]="0" id="local" autoplay
    playinline></video>


  <div id="streams">
    <ng-template [ngIf]="videoLayout === 'SINGLE'">
      <app-user class="user" *ngFor="let user of users" [user]="user" [audioConsumers]="audioConsumers"
        [videoConsumers]="videoConsumers"></app-user>
      
      <video class="user" *ngIf="localSchreenshareStream" [srcObject]="localSchreenshareStream" [volume]="0" autoplay
      playinline></video>
    </ng-template>
  </div>

  <div id="toolbar">
    <div class="right">
      <button class="screen-share toggle" (click)="mediaService.toggleScreenshare()"
        [class.disabled]="screenshareState === 'stop_screen_share'"><i
          class="material-icons">{{screenshareState}}</i></button></div>
    <div class="center">
      <button class="microphone toggle" (click)="mediaService.toggleMirophone()"
        [class.disabled]="microphoneState === 'mic_off'"><i class="material-icons">{{microphoneState}}</i></button>
      <button class="end-call" (click)="disconnect()"><i class="material-icons">call_end</i></button>
      <button class="camera toggle" (click)="mediaService.toggleCamera()"
        [class.disabled]="cameraState === 'videocam_off'"><i class="material-icons">{{cameraState}}</i></button>
    </div>
    <div class="left">
      <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button mat-menu-item (click)="$event.stopPropagation()">
          <mat-checkbox [checked]="autoGainControl" (change)="mediaService.toggleAutoGainControl()">Automatic gain
            control</mat-checkbox>
        </button>
      </mat-menu>
      <button class="settings" [matMenuTriggerFor]="aboveMenu"><i class="material-icons">settings</i></button>
    </div>
  </div>
</div>