
<div id="videochat">
  <video *ngIf="localStream" [srcObject]="localStream" [volume]="0" id="local" autoplay playinline></video>
  <div id="streams">
    <video *ngFor="let consumer of videoConsumers;" autoplay playinline [srcObject]="consumer.stream"></video>
  </div>
  <div id="audio">
    <audio *ngFor="let consumer of audioConsumers;" autoplay playinline [srcObject]="consumer.stream"></audio>
  </div>


  <div id="toolbar">
    <div class="right">
      <button class="screen-share"><i class="material-icons">screen_share</i></button></div>
    <div class="center">
      <button class="microphone" (click)="mediaService.toggleMirophone()" [class.disabled]="microphoneState === 'mic_off'"><i class="material-icons">{{microphoneState}}</i></button>
      <button class="end-call"><i class="material-icons">call_end</i></button>
      <button class="camera" (click)="mediaService.toggleCamera()" [class.disabled]="cameraState === 'videocam_off'"><i class="material-icons">{{cameraState}}</i></button>
    </div>
    <div class="left">  
      <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button mat-menu-item (click)="$event.stopPropagation()"><mat-checkbox [checked]="autoGainControl" (change)="mediaService.toggleAutoGainControl()">Automatic gain control</mat-checkbox></button>
      </mat-menu>
      <button class="settings" [matMenuTriggerFor]="aboveMenu"><i class="material-icons">settings</i></button>
    </div>
  </div>
</div>
