<div id="content">
    <div id="main">
        <div #webcams id="webcams">
            <ng-container *ngFor="let user of users" >
                <div  *ngIf="user.consumers?.video != undefined"  class="video-element">
                    <app-video [video]="user.consumers?.video"></app-video>
                </div>
            </ng-container>
        </div>
        <div id="screenshare"></div>

        <app-audio *ngFor="let user of users" [audio]="user.consumers?.audio"></app-audio>


        <app-toolbar id="toolbar" [microphoneState]="microphoneState" [cameraState]="cameraState" [screenshareState]="screenshareState"></app-toolbar>

    </div>
    <app-master id=master [currentUser]="currentUser" [users]="users"></app-master>
</div>