<main id="datenschutz">
  <div id="spacer"></div>
  <h1>Datenschutzerklärung</h1>
  <h2>Allgemeine Hinweise:</h2>
  <p>
    Diese Video-Chat Applikation basiert auf den Open Source Standards von WebRTC, die
    in allen gängigen Browsern als JavaScript API zur Verfügung steht.
  </p>
  <p>
    Die Software soll als Service verstanden werden (SaaS), die als solche
    angeboten, eine datenschlanke Lösung bietet, über das Internet live
    kommunizieren zu können.
  </p>
  <p>
    Da sich das Produkt noch in der Entwicklung befindet, sei darauf hingewiesen,
    dass es sich bei der folgenden Erklärung um ein Konzept handelt, das
    simultan zum Entwicklungsprozess der Anwendung erweitert wird.
  </p>

  <h2>Unser Anspruch - Richtlinie</h2>

  <p>
    Eine Videoübertragung trägt die Übermittlung personenbezogener Daten in
    sich. Deshalb setzen wir uns zum Ziel, den Anwender darauf hinzuweisen, wann
    eine Aufzeichnung beginnt oder endet. Weder die Tonübertragung noch die
    Videoübertragung, sowie der Chat in einer Konferenz werden mitgeschnitten,
    gespeichert oder Dritten verfügbar gemacht.
  </p>
  <p>
    Der Nutzer soll des Weiteren genau darüber informiert sein, welche Daten er
    uns anvertraut.
  </p>

  <h2>Welche Daten werden verwendet?</h2>

  <h3>Personenbezogene Daten:</h3>
  <p>
    Die Anwendung ermöglicht die Anmeldung über den Shibboleth-Login der
    Hochschule oder durch die Eingabe der Mailadresse des Hochschulangehörigen.
    Diese Daten werden nicht gespeichert, sondern dienen der Autorisierung
    innerhalb der Anwendung.
  </p>
  <p>
    Um eine Zuordnung in größeren Videokonferenzen zu ermöglichen, kann der
    Anwender ein von ihm selbst gewähltes Pseudonym festlegen, unter dem er
    einer Konferenz beitreten möchte. Auch dieses wird nicht gespeichert und
    muss erneut gewählt werden, sobald man das nächste Mal einer Konferenz
    beitritt.
  </p>

  <h3>Technische Daten:</h3>
  <p>
    Wie bei jeder Verbindung, die über ein Netzwerk erfolgt, werden Daten
    gesendet und empfangen, die zum Aufbau der Verbindung nötig sind. Unsere
    Anwendung speichert diese Daten nicht und es ist nicht möglich durch unsere
    Anwendung Zugriff auf diese Daten zu erlangen.
  </p>

  <h2>Schutzmaßnahmen</h2>
  
  <p>
    Die Verbindung zwischen zwei oder mehreren Teilnehmern erfolgt
    verschlüsselt, ein Zugriff auf eine Konferenz durch einen Dritten kann nicht
    stattfinden.
  </p>
</main>
<app-footer></app-footer>