@import 'src/styles/theme-provider.scss';

label {
  display: block;
  margin-top: 0;
  margin-bottom: 12px;
  padding-left: 2px;
}

mat-checkbox {
  margin-right: 16px;
}

mat-radio-button {
  display: block;
  margin-top: 4px;
  margin-left: 12px;
  font-size: 14px;
}

.check {
  display: flex;
  direction: row;
  justify-content: space-between;

  p {
    font-size: 14px;
  }
}

mat-select {
  width: 100%;
  background-color: mat-color($app-primary);
  border-radius: 4px;
  margin-bottom: 8px;
  ::ng-deep .mat-select-trigger {
    padding: 13px 12px;
  }
}

.mat-dialog-title {
  margin-bottom: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
}
