<!-- <label>Nutzer Präferenzen:</label> -->

<!-- <div>Hier können die Präferenzen und Einstellungen für moderierte Räume festgelegt werden!</div> -->

<label i18n>Chat:</label>
<mat-radio-group [(ngModel)]="sendOnEnter" aria-label="Select an option" (change)="toggleSendOnEnter($event.value)">
    <mat-radio-button i18n [value]="true">Send Message on 'Enter'</mat-radio-button>
    <mat-radio-button i18n [value]="false">Send Message on 'Sift + Enter'</mat-radio-button>
</mat-radio-group>
<!-- <mat-checkbox [checked]="sendOnEnter" (change)="toggleSendOnEnter()"></mat-checkbox> -->

<!-- <div>Standardgemäs gemuted <mat-checkbox></mat-checkbox></div> -->

<!-- <div>Im moderierten Raum: Andere Teilnehmer können sich entmuten <mat-checkbox></mat-checkbox></div> -->
