@import '~@angular/material/theming';

$gu-primary: mat-palette($mat-light-blue, A100);
$gu-accent: mat-palette($mat-amber, A200, A100, A400);
// The warn palette is optional (defaults to red).
$gu-warn: mat-palette($mat-red);

// Combine the palettes to a theme
$gu-theme: mat-dark-theme($gu-primary, $gu-accent, $gu-warn);

$mat-dark-theme-background: (
  status-bar: black,
  app-bar: map_get($mat-grey, 900),
  background: #b20d35,
  hover: rgba(white, 0.04),
  // TODO(kara): check style with Material Design UX
    card: #b20d35,
  dialog: #b20d35,
  disabled-button: rgba(white, 0.12),
  raised-button: map-get($mat-grey, 800),
  focused-button: $light-focused,
  selected-button: map_get($mat-grey, 900),
  selected-disabled-button: map_get($mat-grey, 800),
  disabled-button-toggle: black,
  unselected-chip: map_get($mat-grey, 700),
  disabled-list-option: black,
  tooltip: map_get($mat-grey, 700),
);

$gu-theme: map-merge(
  $gu-theme,
  (
    background: $mat-dark-theme-background,
  )
);

//@include angular-material-theme($gu-theme);
