.object-label {
  border: 1px solid #2b2b2b;
  min-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  margin-left: 8px;
  margin-bottom: 5px;
  margin-right: 8px;
  border-radius: 5px;
  cursor: pointer;

  .status {
    width: 8px;
    height: 30px;
    background-color: #2b2b2b;
  }

  .nickname {
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    padding-left: 6px;
    padding-right: 6px;
    width: 70%;
    line-height: 30px;
    font-size: 15px;
    background-color: #212121;
  }

  .signal {
    padding-right: 8px;
    padding-left: 6px;
    color: white;
    background-color: #2b2b2b;

    i {
      line-height: 30px;
      font-size: 15px;
    }
  }
}
