label {
  display: block;
  margin-top: 12px;
  margin-bottom: 4px;
  padding-left: 2px;
}

button {
  margin-top: 8px;

  &#close {
    background-color: #264986;
  }

  &#save {
    margin-left: 16px;
    margin-right: 16px;
  }
}

mat-select {
  width: 100%;
  background-color: #0c1729;
  border-radius: 4px;
  margin-bottom: 8px;
  ::ng-deep .mat-select-trigger {
    padding: 13px 12px;
  }
}

.mat-dialog-title {
  margin-bottom: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
}
