@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import 'src/styles/themes/general-theme/general-theme.scss';
@import 'src/styles/themes/hse-theme/hse-theme.scss';
@import 'src/styles/themes/gu-theme/gu-theme.scss';

$app-primary: null;
$app-secondary: null;
$app-theme: null;

//THE THEME, THAT WILL BE USED MUST BE DECIDED THROUGH THE CONFIGURATION IN "angular.json"
