<!-- <div class="user"> -->
  <video #video *ngIf="showVideo" [srcObject]="videoStream?.stream" autoplay playinline [class.small]="small" [class.selected]="selected"></video>
  <div class="no-video-wrapper" *ngIf="!showVideo" [class.small]="small" [class.selected]="selected">
    <div class="no-video">
      <div class="no-video-inner">
        
        <img src="/assets/img/person.svg">
      </div>
    </div>
  </div>
  <div *ngIf="small && selected" id="dark"></div>
  <div *ngIf="user && user.nickname && (small || !selected)" class="nickname" [class.small]="small" [class.selected]="selected">{{user.nickname}}</div>
  <audio [srcObject]="audioStream?.stream" autoplay></audio>
<!-- </div> -->