:host {
  position: relative;

  .nickname {
    background-color: #0c172990;
    padding: 4px 8px;
    border-radius: 4px;
    position: absolute;
    text-align: center;
    bottom: 32px;
    right: 16px;
    left: 16px;
    width: fit-content;
    max-width: calc(100% - 64px);
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 auto;

    @media (max-width: 768px) {
      max-width: 100%;
      right: 0;
      left: 0;
      bottom: 16px;
    }

    &.small {
      bottom: 8px;
      right: 8px;
      left: 8px;
      max-width: calc(100% - 16px);

      @media (max-width: 768px) {
        right: 0;
        left: 0;
        top: calc(50% - 15px);
        bottom: unset;
      }
    }

    &.small.selected {
      top: calc(50% - 15px);
      bottom: unset;
    }
  }

  #dark {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000000A0;

    
    border: 1px solid #376ac3;
    
  }

  video {
    height: 100%;
    max-width: 100%;
  }

  .no-video-wrapper {
    width: 50%;
    max-width: 340px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;


    .no-video {
      position: relative;
      width: 100%;
      margin-bottom: 8px;
      margin-top: 8px;
      padding-bottom: 100%;
      background-color: #193058;
      border-radius: 50%;

      .no-video-inner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        img {
          height: 80%;
          margin-top: 10%;
          margin-left: 10%;
        }
      }
    }
  }
}