@import 'theme';

$app-individual: map-get($app-theme, individual);

button {
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  outline: none;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

.button {
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  padding: 13px 12px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.primary-button {
  color: mat-color($app-individual, primary-button-contrast);
  background-color: mat-color($app-individual, primary-button);

  &:hover {
    background: mat-color($app-individual, primary-button-hover);
  }

  &:active {
    background-color: mat-color($app-individual, primary-button);
  }
}

.secondary-button {
  color: mat-color($app-individual, secondary-button-contrast);
  background-color: mat-color($app-individual, secondary-button);

  &:hover {
    background: mat-color($app-individual, secondary-button-hover);
  }

  &:active {
    background-color: mat-color($app-individual, secondary-button);
  }
}
