$app-individual: map-get($app-theme, individual);

.chat-message {
  a:link {
    color: mat-color($app-individual, chat-link);
  }

  a:visited {
    color: mat-color($app-individual, chat-link);
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: mat-color($app-individual, chat-link);
    background-color: transparent;
    text-decoration: underline;
  }

  a:active {
    color: mat-color($app-individual, chat-link);
    background-color: transparent;
    text-decoration: underline;
  }
}
