.icon-select {
  display: flex;
  align-items: center;
  i {
    padding-right: 8px;
  }
}
mat-form-field.small {
  .mat-form-field-flex {
    height: 44px;
  }
  .mat-form-field-infix {
    padding: 12px 0 0 0;
    border-top: 0;
  }

  .mat-form-field-wrapper {
    margin-bottom: 8px;
    padding: 0;
  }
  .mat-select-arrow-wrapper {
    padding-top: 8px;
  }
}
