$gu-maroon-colors: (
  // Login-Page-Textbox, Moodle-Login [Victor E. Knight]
    lighter_maroon_3: #b20d35,
  // User-Label-Status [Primary Color Palette—Print (PMS 202)]
    lighter_maroon_2: #862633,
  // Header, Button(s) [Main-page primary color]
    lighter_maroon_1: #97002e,
  // Background [Main-page darker button (websave)]
    default_maroon: #990000,
  // User-Label-Nickname [Main-page-Darker-Chat-Button]
    darker_maroon_1: #800000,
  // Sidebar, Chat, Detail-Bar, Input-Fields [Primar Color Palette — Web from Style-Guide]
    darker_maroon_2: #660000
);

$gu-gold-colors: (
  // Main page secondary color
    lighter_gold_1: #fbaf3f,
  // Primary Color Palette—Web  (#ffbc40 wäre kontraastreicher)
    default_gold: #f2af32,
  // Victor E. Knight
    darker_gold_1: #f9a72b
);

$gu-grey-colors: (
  // Main page background color
    default_grey: #333333
);
