@import '~@angular/material/theming';
@import './gu-colors.scss';

$gu-primary: (
  lighter_4: map-get($gu-maroon-colors, lighter_maroon_4),
  lighter_3: map-get($gu-maroon-colors, lighter_maroon_3),
  lighter_2: map-get($gu-maroon-colors, lighter_maroon_2),
  lighter_1: map-get($gu-maroon-colors, lighter_maroon_1),
  default: map-get($gu-maroon-colors, darker_maroon_2),
  darker_1: map-get($gu-maroon-colors, darker_maroon_1),
  darker_2: map-get($gu-maroon-colors, darker_maroon_2),
  contrast: (
    lighter_4: white,
    lighter_3: white,
    lighter_2: white,
    lighter_1: white,
    default: white,
    darker_1: white,
    darker_2: white,
  ),
);

$gu-secondary: (
  lighter_1: map-get($gu-gold-colors, lighter_gold_1),
  default: map-get($gu-gold-colors, default_gold),
  darker_1: map-get($gu-gold-colors, darker_gold_1),
  contrast: (
    lighter_1: map-get($gu-maroon-colors, lighter_maroon_5),
    default: map-get($gu-maroon-colors, lighter_maroon_5),
    darker_1: map-get($gu-maroon-colors, lighter_maroon_5),
  ),
);

// See _theming.scss under "Background palette for dark themes."
$gu-dark-theme-background: (
  background: map-get($gu-maroon-colors, lighter_maroon_5),
  card: map-get($gu-maroon-colors, lighter_maroon_7),
  dialog: map-get($gu-maroon-colors, lighter_maroon_5),
);

$gu-dark-theme-individual: (
  app-background: map-get($gu-grey-colors, default_grey),
  app-sidebar: map-get($general-grey, lighter_1),
  secondary-button: map-get($gu-maroon-colors, darker_maroon_2),
  secondary-button-contrast: white,
  scrollbar-handle: map-get($grey-colors, lighter_grey_2),
  // Styles for the chat
    chat-link: map-get($blue-colors, default_blue),
  chat-user: map-get($gu-gold-colors, lighter_gold_1),
  chat-timestamp: map-get($grey-colors, lighter_grey_3),
  // Style for the volumebar in the settings-component
    volume-level: map-get($gu-gold-colors, default_gold),
  // Style for selected text snippets
    text-selection: map-get($blue-colors, default_blue),
);

$gu-dark-theme-labels: (
  user-label-border: mat-color($general-grey),
  user-label-status: mat-color($general-grey),
  user-label-nickname: mat-color($general-grey, darker_1),
  user-label-signal: mat-color($general-grey),
  chat-label-border: mat-color($general-grey),
  chat-label-status: mat-color($general-grey),
  chat-label-nickname: mat-color($general-grey, darker_1),
  chat-label-signal: mat-color($general-grey),
);
