@import '~@angular/material/theming';
@import './gu-colors.scss';

$gu-primary: (
  lighter_8: map-get($gu-maroon-colors, lighter_maroon_8),
  lighter_7: map-get($gu-maroon-colors, lighter_maroon_7),
  lighter_6: map-get($gu-maroon-colors, lighter_maroon_6),
  lighter_5: map-get($gu-maroon-colors, lighter_maroon_5),
  lighter_4: map-get($gu-maroon-colors, lighter_maroon_4),
  lighter_3: map-get($gu-maroon-colors, lighter_maroon_3),
  lighter_2: map-get($gu-maroon-colors, lighter_maroon_2),
  lighter_1: map-get($gu-maroon-colors, lighter_maroon_1),
  default: map-get($gu-maroon-colors, default_maroon),
  darker_1: map-get($gu-maroon-colors, darker_maroon_1),
  darker_2: map-get($gu-maroon-colors, darker_maroon_2),
  contrast: (
    lighter_8: black,
    lighter_7: black,
    lighter_6: black,
    lighter_5: black,
    lighter_4: black,
    lighter_3: black,
    lighter_2: black,
    lighter_1: black,
    default: black,
    darker_1: black,
    darker_2: black,
  ),
);

// TO-DO: CHECK EVERY ITEM IN THIS LIST!
// These maps overwrite the colors for the corresponding material elements in the map "background"
$gu-dark-theme-background: (
  status-bar: black,
  app-bar: map_get($mat-grey, 900),
  background: #b20d35,
  hover: rgba(white, 0.04),
  // TODO(kara): check style with Material Design UX
    //Wrong color!
    card: #b20d35,
  //Wrong color!
    dialog: #b20d35,
  disabled-button: rgba(white, 0.12),
  raised-button: map-get($mat-grey, 800),
  focused-button: $light-focused,
  selected-button: map_get($mat-grey, 900),
  selected-disabled-button: map_get($mat-grey, 800),
  disabled-button-toggle: black,
  unselected-chip: map_get($mat-grey, 700),
  disabled-list-option: black,
  tooltip: map_get($mat-grey, 700),
);
