@import '~@angular/material/theming';
@import '../../colors.scss';
@import 'src/styles/themes/general-theme/general-theme.scss';

// This is the theme for Gannon University!
//THE THEME, THAT WILL BE USED MUST BE DECIDED THROUGH THE CONFIGURATION IN "angular.json"

$gu-primary: (
  lighter_3: map-get($gu-maroon-colors, lighter_maroon_3),
  lighter_2: map-get($gu-maroon-colors, lighter_maroon_2),
  lighter_1: map-get($gu-maroon-colors, lighter_maroon_1),
  default: map-get($gu-maroon-colors, darker_maroon_2),
  darker_1: map-get($gu-maroon-colors, darker_maroon_1),
  darker_2: map-get($gu-maroon-colors, darker_maroon_2),
  contrast: (
    lighter_3: white,
    lighter_2: white,
    lighter_1: white,
    default: white,
    darker_1: white,
    darker_2: white,
  ),
);

$gu-secondary: (
  lighter_1: map-get($gu-gold-colors, lighter_gold_1),
  default: map-get($gu-gold-colors, default_gold),
  darker_1: map-get($gu-gold-colors, darker_gold_1),
  contrast: (
    lighter_1: map-get($gu-maroon-colors, lighter_maroon_2),
    default: map-get($gu-maroon-colors, lighter_maroon_2),
    darker_1: map-get($gu-maroon-colors, lighter_maroon_2),
  ),
);

// See _theming.scss under "Background palette for dark themes."
$gu-dark-theme-background: (
  background: map-get($gu-maroon-colors, lighter_maroon_2),
  card: map-get($gu-maroon-colors, lighter_maroon_3),
  // card: map-get($gu-grey-colors, lighter_grey_1),
    dialog: map-get($gu-maroon-colors, lighter_maroon_2),
);
$gu-dark-theme-background: map-merge($mat-dark-theme-background, $gu-dark-theme-background);

$gu-dark-theme-individual: (
  // Styles for the main elements of the website
    app-background: map-get($gu-grey-colors, default_grey),
  app-sidebar: map-get($gu-grey-colors, lighter_grey_1),
  app-header: map-get($gu-maroon-colors, lighter_maroon_2),
  // Styles for important buttons
    primary-button: map-get($gu-gold-colors, darker_gold_1),
  primary-button-contrast: map-get($gu-maroon-colors, lighter_maroon_2),
  primary-button-hover: map-get($gu-gold-colors, lighter_gold_1),
  // Styles for less important buttons (e.g. "Cancel")
    secondary-button: map-get($gu-maroon-colors, darker_maroon_2),
  secondary-button-contrast: white,
  secondary-button-hover: map-get($gu-maroon-colors, darker_maroon_1),
  // Style for the scrollbars throughout the app
    scrollbar-handle: map-get($grey-colors, lighter_grey_1),
  // Styles for the chat
    chat-link: map-get($blue-colors, default_blue),
  chat-user: map-get($gu-gold-colors, lighter_gold_1),
  chat-timestamp: map-get($grey-colors, lighter_grey_2),
  // Style for the volumebar in the settings-component
    volume-level: map-get($gu-gold-colors, default_gold),
  // Styles for the infobox that contains the room-url, if the user is alone
    text-selection: map-get($blue-colors, default_blue),
  room-url-background: map-get($gu-maroon-colors, darker_maroon_2),
  room-url-background-contrast: map-get($gu-maroon-colors, darker_maroon_2-contrast)
);

$gu-dark-theme-labels: (
  user-label-border: mat-color($general-grey),
  user-label-status: mat-color($general-grey),
  user-label-nickname: mat-color($general-grey, darker_1),
  user-label-signal: mat-color($general-grey),
  chat-label-border: mat-color($general-grey),
  chat-label-status: mat-color($general-grey),
  chat-label-nickname: mat-color($general-grey, darker_1),
  chat-label-signal: mat-color($general-grey),
  vote-up-label-border: mat-color($general-green),
  vote-up-label-status: mat-color($general-green, lighter_1),
  vote-up-label-nickname: mat-color($general-green, darker_1),
  vote-up-label-signal: mat-color($general-green),
  vote-down-label-border: mat-color($general-red),
  vote-down-label-status: mat-color($general-red, lighter_1),
  vote-down-label-nickname: mat-color($general-red, darker_1),
  vote-down-label-signal: mat-color($general-red),
  signaling-label-border: mat-color($general-yellow),
  signaling-label-status: mat-color($general-yellow, lighter_1),
  signaling-label-nickname: mat-color($general-yellow, darker_1),
  signaling-label-signal: mat-color($general-yellow),
);

$gu-pictures: (
  app-logo: url('/assets/img/GU/gannonuniversity.png'),
  thankyou: url('/assets/img/GU/undraw_road_sign_gold.svg'),
  empty-room: url('/assets/img/GU/undraw_video_call_gold.svg'),
);

//////////////////////////////////////
//Makes the Sytles available globally
/////////////////////////////////////

// Primary and secondary colors
$app-primary: mat-palette($gu-primary, default);
$app-secondary: mat-palette($gu-secondary, default);

$app-theme: mat-dark-theme($app-primary, $app-secondary);

$app-theme: map-merge(
  $app-theme,
  (
    background: $gu-dark-theme-background,
    individual: $gu-dark-theme-individual,
    labels: $gu-dark-theme-labels,
    pictures: $gu-pictures,
  )
);
