@import 'theme';

#chatroom {
  max-width: 400px;
  background-color: mat-color($app-primary, lighter_1);
  margin-right: 8px;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 64px;
  font-size: 20px;
}

#moodle-login {
  margin-right: auto;
  margin-left: auto;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  // Color of Moodle (Only used in this place)
  background-color: #ff6300;
  line-height: 18px;
  img {
    height: 18px;
    margin-top: -4px;
    padding-left: 2px;
    padding-right: 2px;
  }
}

#personal-room {
  padding: 8px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.rooms {
  overflow: hidden;
  border-radius: 8px;
  user-select: none;

  &.preview {
    .room {
      background-color: mat-color($app-primary, lighter_2);
      // background-color: mat-color($app-primary, lighter_1);
      .name {
        flex-grow: 0;
        border-radius: 8px;
        background-color: mat-color($app-primary, darker_1);
        color: transparent;
      }

      .grow {
        flex-grow: 1;
      }

      i {
        color: mat-color($app-primary, darker_2);
        border-radius: 8px;
      }
    }
  }

  &:not(.preview) .room:hover {
    background-color: mat-color($app-primary, lighter_3);
  }

  &:not(.preview) .room {
    cursor: pointer;
  }

  .room {
    text-decoration: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transition: background-color 0.15s ease-out;
    border-bottom: 1px solid;
    border-color: mat-color($app-primary);
    display: flex;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 8px;
    padding-right: 8px;
    color: mat-color($app-primary, lighter_2-contrast);
    background-color: mat-color($app-primary, lighter_2);

    &.preview {
      filter: blur(4px);
    }

    .name {
      flex-grow: 1;
    }
  }
}

#moodle-login-outer {
  position: relative;

  #moodle-login {
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    top: 48px;
  }
}

#spacer {
  height: 32px;
}

.center {
  margin-right: auto;
  margin-left: auto;
  max-width: 500px;

  @media (max-width: 516px) {
    margin-right: 8px;
    margin-left: 8px;
  }
}

p {
  margin-top: 64px;
}

#input {
  margin-top: 24px;

  input {
    width: calc(100% - 100px);
  }
}
