#chatroom {
  max-width: 400px;
  background-color: #172c50;
  margin-right: 8px;
}

#spacer {
  height: 64px;
}

.center {
  text-align: center;
}


p {
  margin-top: 64px;
}

#input {
  margin-top: 24px;

  input {
    width: calc(100% - 100px);
  }
}
