<h1 *ngIf="mode === 1" i18n id="room" [class.tabs]="modules.tabs" mat-dialog-title>Room: {{ roomID }}</h1>
<h1 *ngIf="modules.tabs" i18n class="tabs">Settings</h1>

<div id="settings" [class.large]="modules.tabs === true">
    <div *ngIf="modules.tabs === true" id="menu">
        <div class="item" (click)="settingPage = 0" [class.active]="settingPage === 0">
            <i class="material-icons">perm_identity</i>
            <div i18n>User</div>
        </div>
        <div class="item" (click)="settingPage = 1" [class.active]="settingPage === 1">
            <i class="material-icons">videocam</i>
            <div i18n class="nickname">Video</div>
        </div>
        <div class="item" (click)="settingPage = 2" [class.active]="settingPage === 2">
            <i class="material-icons">headset_mic</i>
            <div i18n class="nickname">Audio</div>
        </div>
    </div>

    <div id="setting-page" [class.tabs]="modules.tabs">
        <div id="content">
            <app-settings-user *ngIf="settingPage == 0 || (modules.tabs === false && modules.userSettings === true)">
            </app-settings-user>
            <app-settings-video *ngIf="settingPage == 1 || (modules.tabs === false && modules.videoSettings === true)"
                [disableSelection]="modules.tabs" [selectedVideoStream]="selectedVideoStream" [videoDevices]="videoDevices" [videoTrack]="videoTrack">
            </app-settings-video>
            <app-settings-audio #audioSettings
                *ngIf="settingPage == 2 || (modules.tabs === false && modules.audioSettings?.display === true)"
                [displayAGC]="modules.audioSettings?.displayAGC" [disableSelection]="modules.tabs"
                (audioDevicesEvent)="audioDevices = $event"></app-settings-audio>
        </div>

        <div id="dialog-actions" align="end">
            <button i18n id="close" class="button secondary-button" (click)="discardChanges()"
                [mat-dialog-close]="undefined">Cancel</button>
            <button i18n id="save" class="button primary-button" (click)="saveChanges()" mat-dialog-close>Save</button>
        </div>
    </div>
</div>