@import '../../../styles/settings-style.scss';
@import '../../../styles/object-label.scss';

:host {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;

  #room {
    display: flex;

    &.tabs {
      justify-content: center;
    }
  }

  #settings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &.large {
      width: 700px;
      height: 400px;
    }

    #tabs {
      display: flex;
      flex-direction: column;
      height: auto;
      width: 250px;
      min-width: 250px;
      padding-right: 24px;

      .object-label {
        transform: scale(1, 1.2);
        margin-bottom: 12px;
      }
    }

    #setting-page {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 400px;
      min-width: 400px;

      #content {
        flex-grow: 1;
      }
    }
  }
}
