@import 'theme';

$app-individual: map-get($app-theme, individual);
#question-header {
  display: flex;
  align-items: flex-start;
  button {
    padding: 4px 0px 4px 4px;
  }
  .title {
    width: calc(100% - 32px);
    background-color: mat-color($app-primary, darker_2);
    // width: calc(100% - 16px);
    padding: 0px 8px 0 8px;
    border: none;
    border-radius: 4px;
    textarea {
      display: block;
      width: 100%;
      padding: 8px 0 8px 0;
      color: mat-color($app-primary, darker_2-contrast);
      font-size: 16px;

      font-family: 'Open Sans', sans-serif;
      background-color: mat-color($app-primary, darker_2);
      border: none;

      &:focus {
        outline: none;
      }
    }
  }
}
.answers {
  margin-top: 8px;

  mat-form-field {
    width: 100%;
    margin-bottom: 4px;
  }
}
.answer {
  display: flex;
  align-items: flex-start;
  mat-radio-button {
    flex-grow: 1;
  }
  mat-checkbox {
    flex-grow: 1;
  }
  .mat-checkbox-layout {
    width: 100%;
  }
  .mat-radio-label-content {
    width: 100%;
  }

  ::ng-deep {
    .mat-checkbox-inner-container-no-side-margin {
      margin-right: 8px;
    }
    .mat-checkbox-inner-container {
      margin-top: 4px;
    }
    .mat-radio-label-content {
      width: 100%;
    }
    .mat-radio-label {
      align-items: flex-start;
    }
    .mat-checkbox-layout,
    .mat-checkbox-label {
      width: 100%;
    }
    // .mat-checkbox-label {
    //   width: 100%;
    //   align-items: flex-start;
    // }
  }
  textarea {
    width: calc(100% - 8px);
    color: mat-color($app-primary, darker_2-contrast);
    background-color: transparent;
    border: none;
    border-bottom: 3px solid transparent;
    // width: calc(100% - 16px);
    flex-grow: 1;
    // border-radius: 4px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;

    &:focus {
      outline: none;
      border-bottom: 3px solid mat-color($app-primary, darker_2);
    }
    &:hover {
      border-bottom: 3px solid mat-color($app-primary, darker_2);
    }
    &::placeholder {
      color: #bdbdbd;
    }
  }
}

.question {
  background-color: mat-color($app-primary, lighter_2);
  border-radius: 4px;
  margin: 0px 8px 8px 8px;
  padding: 8px 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#add-question {
  width: calc(100% - 48px);
  border-radius: 17px;
  margin: 0px 8px 16px 8px;
  padding: 8px 16px;
}

#add-answer {
  width: calc(100%);
  border-radius: 17px;
  margin-top: 8px;
  padding: 2px 4px;
}

#remove-question {
}

#remove-answer {
}
