<div class="question">
    <div id="question-header" class="horizontal">
        <ng-container *ngIf="editMode">
            <div class="title">
                <textarea cdkTextareaAutosize [(ngModel)]="question.questionText" placeholder="Enter your question here..."></textarea>
            </div>
            <button id="remove-question" (click)="deleteElement()">
                <i class="material-icons">delete</i>
            </button>
        </ng-container>
        <ng-container *ngIf="!editMode">
            <div [innerHTML]="question.questionText" placeholder="Enter your question here..."></div>
        </ng-container>
        <!-- <button id="hide" class="primary-button" (click)="closeChatEvent.emit({element: childData, type: 'chat'})"> -->
    </div>

    <div *ngIf="editMode" class="answers">
        <mat-form-field appearance="outline" class="small">
            <mat-select [(ngModel)]="question.type" (selectionChange)="changeType($event.value)">
                <mat-select-trigger [ngSwitch]="question.type">
                    <span *ngSwitchCase="'SINGLE_CHOICE'" class="icon-select"><i class="material-icons">radio_button_checked</i> Single Choice</span>
                    <span *ngSwitchCase="'MULTIPLE_CHOICE'" class="icon-select"><i class="material-icons">check_box</i> Multiple Choice</span>
                    <span *ngSwitchCase="'FREE_TEXT'" class="icon-select"><i class="material-icons">format_align_left</i> Free Text</span>
                </mat-select-trigger>
                <mat-option value="SINGLE_CHOICE"
                    ><span class="icon-select"><i class="material-icons">radio_button_checked</i> Single Choice</span></mat-option
                >
                <mat-option value="MULTIPLE_CHOICE"
                    ><span class="icon-select"><i class="material-icons">check_box</i> Multiple Choice</span></mat-option
                >
                <mat-option value="FREE_TEXT"
                    ><span class="icon-select"><i class="material-icons">format_align_left</i> Free Text</span>
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div *ngFor="let answer of colums; let index = index" class="answer">
            <mat-radio-button disabled *ngIf="question.type === 'SINGLE_CHOICE'">
                <textarea
                    (click)="addAnswer(index)"
                    (keydown)="addAnswer(index, $event)"
                    (change)="changeEvent($event.srcElement.value, index)"
                    cdkTextareaAutosize
                    [(ngModel)]="question.answers.length != index ? question.answers[index].text : newElement"
                    placeholder="Enter answer option here..."
                ></textarea>
            </mat-radio-button>
            <mat-checkbox disabled *ngIf="question.type === 'MULTIPLE_CHOICE'">
                <textarea
                    (click)="addAnswer(index)"
                    (keydown)="addAnswer(index)"
                    (change)="changeEvent($event.srcElement.value, index)"
                    cdkTextareaAutosize
                    [(ngModel)]="question.answers.length != index ? question.answers[index].text : newElement"
                    placeholder="Enter answer option here..."
                ></textarea>
            </mat-checkbox>
            <!-- <textarea *ngIf="question.type === 'FREE_TEXT'" disabled cdkTextareaAutosize placeholder="Your answer goes here..."></textarea> -->
            <button id="remove-answer" *ngIf="question.answers.length != index" (click)="deleteAnswer(index)">
                <i class="material-icons">clear</i>
            </button>
        </div>
    </div>
    <div *ngIf="!editMode && form" class="answers" [formGroup]="form">
        <div class="answer" *ngIf="question.type === 'FREE_TEXT'">
            <textarea [formControlName]="question.id" cdkTextareaAutosize placeholder="Your answer goes here..."></textarea>
        </div>
        <mat-radio-group [formControlName]="question.id" *ngIf="question.type === 'SINGLE_CHOICE'">
            <mat-radio-button *ngFor="let answer of question.answers" class="answer" [value]="answer.id">{{ answer.text }}</mat-radio-button>
        </mat-radio-group>
        <div *ngFor="let answer of question.answers" [formGroupName]="question.id" class="answer">
            <mat-checkbox [formControlName]="answer.id" *ngIf="question.type === 'MULTIPLE_CHOICE'" [value]="answer.id">{{ answer.text }}</mat-checkbox>
        </div>
    </div>
</div>
