@import '~@angular/material/theming';
@import './hse-colors.scss';

$hse-primary: (
  lighter_8: map-get($hse-blue-colors, lighter_blue_8),
  lighter_7: map-get($hse-blue-colors, lighter_blue_7),
  lighter_6: map-get($hse-blue-colors, lighter_blue_6),
  lighter_5: map-get($hse-blue-colors, lighter_blue_5),
  lighter_4: map-get($hse-blue-colors, lighter_blue_4),
  lighter_3: map-get($hse-blue-colors, lighter_blue_3),
  lighter_2: map-get($hse-blue-colors, lighter_blue_2),
  lighter_1: map-get($hse-blue-colors, lighter_blue_1),
  default: map-get($hse-blue-colors, default_blue),
  darker_1: map-get($hse-blue-colors, darker_blue_1),
  darker_2: map-get($hse-blue-colors, darker_blue_2),
  contrast: (
    lighter_8: black,
    lighter_7: black,
    lighter_6: black,
    lighter_5: black,
    lighter_4: black,
    lighter_3: black,
    lighter_2: black,
    lighter_1: black,
    default: black,
    darker_1: black,
    darker_2: black,
  ),
);

// TO-DO: CHECK EVERY ITEM IN THIS LIST!
// TO_DO: CHECK EVERY ITEM FOR USAGE
$hse-dark-theme-background: (
  status-bar: black,
  app-bar: map_get($mat-grey, 900),
  // CHECKED
    background: map-get($hse-blue-colors, lighter_blue_5),
  hover: rgba(white, 0.04),
  // TODO(kara): check style with Material Design UX
    card: #264986,
  //CHECKED
    dialog: map-get($hse-blue-colors, lighter_blue_5),
  disabled-button: rgba(white, 0.12),
  raised-button: map-get($mat-grey, 800),
  focused-button: $light-focused,
  selected-button: map_get($mat-grey, 900),
  selected-disabled-button: map_get($mat-grey, 800),
  disabled-button-toggle: black,
  unselected-chip: map_get($mat-grey, 700),
  disabled-list-option: black,
  tooltip: map_get($mat-grey, 700),
);
