$hse-blue-colors: (
  // Moodle-Login-Preview-Hover, Setting-Button(s), Scrollbar-Handle-On-Hover, User-Label-Status
    lighter_blue_3: #264986,
  // Header, Button(s)
    lighter_blue_2: #193058,
  // Login-Page-Textbox, Moodle-Login
    lighter_blue_1: #172c50,
  // Background
    default_blue: #0c1729,
  // User-Label-Nickname
    darker_blue_1: #0d1629,
  // Sidebar, Chat, Detail-Bar, Input-Fields
    darker_blue_2: #080e1a
);

$hse-red-colors: (
  // General-Button-Hover
    lighter_red_1: #d11800,
  // General-Button-Background, General-Button-Active
    default_red: #b61601,
  // Close-Chat-Button
    darker_red_1: #6f0e0e
);
