// @import '~@angular/material/theming';
@import './hse-colors.scss';
@import '../general-theme/general-colors.scss';

$hse-primary: (
  lighter_3: map-get($hse-blue-colors, lighter_blue_3),
  lighter_2: map-get($hse-blue-colors, lighter_blue_2),
  lighter_1: map-get($hse-blue-colors, lighter_blue_1),
  default: map-get($hse-blue-colors, default_blue),
  darker_1: map-get($hse-blue-colors, darker_blue_1),
  darker_2: map-get($hse-blue-colors, darker_blue_2),
  contrast: (
    lighter_3: white,
    lighter_2: white,
    lighter_1: white,
    default: white,
    darker_1: white,
    darker_2: white,
  ),
);

$hse-secondary: (
  lighter_1: map-get($hse-red-colors, lighter_red_1),
  default: map-get($hse-red-colors, default_red),
  darker_1: map-get($hse-red-colors, darker_red_1),
  contrast: (
    lighter_1: white,
    default: white,
    darker_1: white,
  ),
);

// See _theming.scss under "Background palette for dark themes."
$hse-dark-theme-background: (
  background: map-get($hse-blue-colors, lighter_blue_2),
  card: map-get($hse-blue-colors, lighter_blue_3),
  dialog: map-get($hse-blue-colors, lighter_blue_2),
);

$hse-dark-theme-individual: (
  app-background: map-get($hse-blue-colors, default_blue),
  app-sidebar: map-get($hse-blue-colors, darker_blue_2),
  app-header: map-get($hse-blue-colors, lighter_blue_2),
  // Styles for less important buttons (e.g. "Cancel")
    secondary-button: map-get($hse-blue-colors, lighter_blue_3),
  secondary-button-contrast: white,
  // Style for the scrollbars throughout the app
    scrollbar-handle: map-get($grey-colors, lighter_grey_2),
  // Styles for the chat
    chat-link: map-get($blue-colors, default_blue),
  chat-user: map-get($green-colors, lighter_green_1),
  chat-timestamp: map-get($grey-colors, lighter_grey_3),
  // Style for the volumebar in the settings-component
    volume-level: map-get($blue-colors, default_blue),
  // Styles for the infobox that contains the room-url, if the user is alone
    text-selection: map-get($blue-colors, default_blue),
  room-url-background: map-get($hse-blue-colors, darker_blue_1),
  room-url-background-contrast: map-get($hse-blue-colors, darker_blue_1-contrast),
);

$hse-dark-theme-labels: (
  user-label-border: mat-color($hse-blue-colors, lighter_blue_2),
  user-label-status: mat-color($hse-blue-colors, lighter_blue_3),
  user-label-nickname: mat-color($hse-blue-colors, darker_blue_1),
  user-label-signal: mat-color($hse-blue-colors, lighter_blue_2),
  chat-label-border: mat-color($general-grey),
  chat-label-status: mat-color($general-grey),
  chat-label-nickname: mat-color($general-grey, darker_1),
  chat-label-signal: mat-color($general-grey),
);
