@import '~@angular/material/theming';

$hse-blue-colors: (
  // Scrollbar-Handle on hover
    lighter_blue_8: #2a5094,
  // Moodle-Login-Preview-Hover, Setting-Button(s) (REPLACABLE?)
    lighter_blue_7: #264986,
  // User-Label-Status
    lighter_blue_6: #243e74,
  // Header, Button(s)
    lighter_blue_5: #193058,
  // User-Label-Mic-Active
    lighter_blue_4: #1a2e56,
  // Login-Page-Textbox, Moodle-Login (REPLACABLE?)
    lighter_blue_3: #172c50,
  // Moodle-Login-Preview (REPLACABLE?)
    lighter_blue_2: #152849,
  // Moodle-Login-Preview-Name-Field
    lighter_blue_1: #11203a,
  // Background
    default_blue: #0c1729,
  // User-Label-Nickname
    darker_blue_1: #0d1629,
  // Sidebar, Chat, Detail-Bar, Input-Fields
    darker_blue_2: #080e1a
);

$hse-red-colors: (
  // Close-Chat-Button
    red_1: #6f0e0e,
  // User-Label-Voting-Down
    red_2: #b71c1c,
  // User-Label-Voting-Down-Status
    red_3: #e53935,
  // User-Label-Voting-Down-Nickname
    red_4: #620f0f,
  // Vote-Down-Button
    red_5: #591d1d,
  // End-Call-Button
    red_6: #db4437,
  // General-Button-Background, General-Button-Active
    red_7: #b61601,
  // General-Button-Hover
    red_8: #d11800,
  // Moodle-Orange
    red_9: #ff6300
);

$hse-yellow-colors: (
  // User-Label-Signaling
    yellow_1: #9e9824,
  // User-Label-Signaling-Status
    yellow_2: #fdd835,
  // User-Label-Signaling-Nickname
    yellow_3: #6d6919
);

$hse-green-colors: (
  // User-abel-Voting-Up
    green_1: #1b5e20,
  // User-Label-Voting-Up-Status
    green_2: #43a047,
  // User-Label-Voting-Up-Nickname
    green_3: #124016,
  // Vote-Up-Button
    green_4: #25591d
);

$hse-grey-colors: (
  // Chat-Label
    grey_1: #2b2b2b,
  // Chat-Label-Nickname
    grey_2: #212121
);

/*
$hse-other-colors: (
  grey: #555,
  chat-messaged: orangered,
  audio-settings-div-background: #b4d3ed,
  lecture-page-selection: #bed7ff
  // white
  // black
)
*/
