@import '~@angular/material/theming';
@import 'src/styles/themes/hse-theme/hse-colors.scss';
@import 'src/styles/themes/general-theme/general-theme.scss';

// This is the theme for Hochschule Esslingen - University of Applied Sciences!
//THE THEME, THAT WILL BE USED MUST BE DECIDED THROUGH THE CONFIGURATION IN "angular.json"

$hse-primary: (
  lighter_3: map-get($hse-blue-colors, lighter_blue_3),
  lighter_2: map-get($hse-blue-colors, lighter_blue_2),
  lighter_1: map-get($hse-blue-colors, lighter_blue_1),
  default: map-get($hse-blue-colors, default_blue),
  darker_1: map-get($hse-blue-colors, darker_blue_1),
  darker_2: map-get($hse-blue-colors, darker_blue_2),
  contrast: (
    lighter_3: white,
    lighter_2: white,
    lighter_1: white,
    default: white,
    darker_1: white,
    darker_2: white,
  ),
);

$hse-secondary: (
  lighter_1: map-get($hse-red-colors, lighter_red_1),
  default: map-get($hse-red-colors, default_red),
  darker_1: map-get($hse-red-colors, darker_red_1),
  contrast: (
    lighter_1: white,
    default: white,
    darker_1: white,
  ),
);

// See _theming.scss under "Background palette for dark themes."
$hse-dark-theme-background: (
  background: map-get($hse-blue-colors, lighter_blue_2),
  card: map-get($hse-blue-colors, lighter_blue_3),
  dialog: map-get($hse-blue-colors, lighter_blue_2),
);
$hse-dark-theme-background: map-merge($mat-dark-theme-background, $hse-dark-theme-background);

$hse-dark-theme-individual: (
  app-background: map-get($hse-blue-colors, default_blue),
  app-sidebar: map-get($hse-blue-colors, darker_blue_2),
  app-header: map-get($hse-blue-colors, lighter_blue_2),
  // Styles for important buttons
    primary-button: map-get($hse-red-colors, default_red),
  primary-button-contrast: white,
  primary-button-hover: map-get($hse-red-colors, lighter_red_1),
  // Styles for less important buttons (e.g. "Cancel")
    secondary-button: map-get($hse-blue-colors, lighter_blue_3),
  secondary-button-contrast: white,
  secondary-button-hover: lighten(map-get($hse-blue-colors, lighter_blue_3), 5%),
  // Style for the scrollbars throughout the app
    scrollbar-handle: map-get($grey-colors, lighter_grey_1),
  // Styles for the chat
    chat-link: map-get($blue-colors, default_blue),
  chat-user: map-get($green-colors, lighter_green_1),
  chat-timestamp: map-get($grey-colors, lighter_grey_2),
  // Style for the volumebar in the settings-component
    volume-level: map-get($blue-colors, default_blue),
  // Styles for the infobox that contains the room-url, if the user is alone
    text-selection: map-get($blue-colors, default_blue),
  room-url-background: map-get($hse-blue-colors, darker_blue_1),
  room-url-background-contrast: map-get($hse-blue-colors, darker_blue_1-contrast),
);

$hse-dark-theme-labels: (
  user-label-border: mat-color($hse-blue-colors, lighter_blue_2),
  user-label-status: mat-color($hse-blue-colors, lighter_blue_3),
  user-label-nickname: mat-color($hse-blue-colors, darker_blue_1),
  user-label-signal: mat-color($hse-blue-colors, lighter_blue_2),
  chat-label-border: mat-color($general-grey),
  chat-label-status: mat-color($general-grey),
  chat-label-nickname: mat-color($general-grey, darker_1),
  chat-label-signal: mat-color($general-grey),
  vote-up-label-border: mat-color($general-green),
  vote-up-label-status: mat-color($general-green, lighter_1),
  vote-up-label-nickname: mat-color($general-green, darker_1),
  vote-up-label-signal: mat-color($general-green),
  vote-down-label-border: mat-color($general-red),
  vote-down-label-status: mat-color($general-red, lighter_1),
  vote-down-label-nickname: mat-color($general-red, darker_1),
  vote-down-label-signal: mat-color($general-red),
  signaling-label-border: mat-color($general-yellow),
  signaling-label-status: mat-color($general-yellow, lighter_1),
  signaling-label-nickname: mat-color($general-yellow, darker_1),
  signaling-label-signal: mat-color($general-yellow),
);

$hse-pictures: (
  app-logo: url('/assets/img/HSE/logo_negative.png'),
  thankyou: url('/assets/img/HSE/undraw_road_sign_blue.svg'),
  empty-room: url('/assets/img/HSE/undraw_video_call_blue.svg'),
);

//////////////////////////////////////
//Makes the Sytles available globally
/////////////////////////////////////

// Primary and secondary colors
$app-primary: mat-palette($hse-primary, default);
$app-secondary: mat-palette($hse-secondary, default);
// Other stylings
$app-theme: mat-dark-theme($app-primary, $app-secondary);
$app-theme: map-merge(
  $app-theme,
  (
    background: $hse-dark-theme-background,
    individual: $hse-dark-theme-individual,
    labels: $hse-dark-theme-labels,
    pictures: $hse-pictures,
  )
);
