<div id="toolbar">
    <div class="center">
        <button
            class="screen-share toggle"
            (click)="mediaService.toggleScreenshare()"
            [class.disabled]="currentUser.screenshareState === 'stop_screen_share'"
            matTooltip="toggle screenshare (s)"
        >
            <i class="material-icons">{{ currentUser.screenshareState }}</i>
        </button>
        <button
            class="microphone toggle"
            (click)="mediaService.toggleMirophone()"
            [class.disabled]="currentUser.microphoneState === 0"
            matTooltip="toggle microphone (m)"
        >
            <i class="material-icons">{{ currentUser.microphoneState == 0 ? 'mic_off' : 'mic' }}</i>
        </button>
        <button
            class="camera toggle"
            (click)="mediaService.toggleCamera()"
            [class.disabled]="currentUser.cameraState === 'videocam_off'"
            matTooltip="toggle videocamera (v)"
        >
            <i class="material-icons">{{ currentUser.cameraState }}</i>
        </button>
    </div>
</div>
