@import 'src/styles/theme-provider.scss';

$app-individual: map-get($app-theme, individual);

#volumebar {
  background-color: mat-color($app-primary);
  width: calc(100% - 8px);
  border-radius: 8px;
  height: 8px;
  padding: 4px;

  div {
    transition: width 0.15s ease-out;

    width: 0%;
    border-radius: 8px;
    height: 100%;
    background-color: mat-color($app-individual, volume-level);
  }
}

label {
  display: block;
  margin-top: 0;
  margin-bottom: 4px;
  padding-left: 2px;
}

button {
  margin-top: 8px;
}

mat-select {
  width: 100%;
  background-color: mat-color($app-primary);
  border-radius: 4px;
  margin-bottom: 8px;
  ::ng-deep .mat-select-trigger {
    padding: 13px 12px;
  }
}

.mat-dialog-title {
  margin-bottom: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
}
