@import '~@angular/cdk/overlay-prebuilt.css';
@import 'mat-theme.scss';

/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  color: white;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  
  // background-color: #0a1629;
  background-color: #0c1729;
  --app-primary: #b3e5fc
  ;
}

html {
  margin: 0;
  height: 100%;
}

main {
  min-height: calc(100% - 118px);
}

button {

  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  outline: none;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}
.mat-form-field-appearance-legacy .mat-form-field-label, .mat-select-arrow,.mat-form-field-appearance-legacy .mat-form-field-underline {
  color: white;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: unset;
}




input {
  border-radius: 4px;
  font-size: 14px;
  color: white;
  background-color: #0c1729;
  border: none;
  padding: 13px 12px;
  width: calc(100% - 26px);
  border: 1px solid #172c50;
  outline: none;
}

.button {
  border-radius: 4px;
  font-size: 14px;
  background: #B61601;
  color: #ffffff;
  outline: none;
  cursor: pointer;
  padding: 13px 12px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        
  &:hover {
      background: rgb(209, 24, 0);
  }

  &:active {
      background: #B61601;
  }

  &.blue {
    background: mat-color($app-primary);
    color: black;
  }
}