@import '~@angular/cdk/overlay-prebuilt.css';
@import 'src/styles/theme-provider.scss';

// Custom imports
@import 'src/styles/elements/input.scss';
@import 'src/styles/elements/button.scss';
@import 'src/styles/elements/round-buttons.scss';
@import 'src/styles/elements/chat-message.scss';

// Used theming-objects
$app-individual: map-get($app-theme, individual);

/* You can add global styles to this file, and also import other style files */
html {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  color: white;
  font-family: 'Open Sans', sans-serif;
  height: 100%;

  background-color: mat-color($app-individual, app-background);
}

main {
  min-height: calc(100% - 118px);
}

.mat-form-field-appearance-legacy .mat-form-field-label,
.mat-select-arrow,
.mat-form-field-appearance-legacy .mat-form-field-underline {
  color: white;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: unset;
}
