@import '../../../styles/round-buttons.scss';

:host {
  height: 100%;
  width: 180px;
  background-color: #080e1a;
  margin: 0 auto 0 auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.05), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.06), 0 6px 6px rgba(0, 0, 0, 0.23);

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  &.detail-open {
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.06), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-left: 1px solid #193058;
    border-left: 1px solid black;
  }

  #scroll {
    overflow-y: auto;
    display: flex;
    height: calc(100% - 64px);
    flex-direction: column;

    #user-actions {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 8px;
    }

    // Design for all the other users, that have joined the chat
    #participants {
      flex-grow: 1;
    }


    h4 {
      margin: 8px auto 8px 8px;
    }

    label {
      margin-left: 8px;
      padding-bottom: 8px;
      font-weight: bold;
      font-size: 12px;
      line-height: 1.5;
      color: white;
    }

    /* width */
    &::-webkit-scrollbar {
      width: 12px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #080e1a;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #555;
      border-radius: 6px;
      border: 2px solid #080e1a;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #2a5094;
    }
  }


  #control {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .object-label {
    border: 1px solid #1a2e56;
    min-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin-left: 8px;
    margin-bottom: 5px;
    margin-right: 8px;
    border-radius: 5px;
    cursor: pointer;

    .status {
      width: 8px;
      height: 30px;
    }


    .nickname {
      overflow: hidden;
      text-overflow: ellipsis;
      flex-grow: 1;
      padding-left: 6px;
      padding-right: 6px;
      width: 70%;
      line-height: 30px;
      font-size: 15px;
    }


    .signal {
      background-color: #2b2b2b;
      padding-right: 8px;
      padding-left: 6px;
      color: white;

      i {
        line-height: 30px;
        font-size: 15px;
      }
    }

    &.chat {
      border-color: transparent;

      .status {
        background-color: #2b2b2b;
      }
    }

    &.chat .nickname {
      background-color: #212121;
    }

    &.messaged .status {
      background-color: orangered;
    }

    &.micActive {
      .status {
        background-color: #243e74;
      }

      .nickname {
        background-color: #0d1629;
      }

      .signal {
        background-color: #1a2e56;
      }
    }


    &.talking {
      .status {
        // background-color: #43a047;
      }

      .nickname {
        // background-color: #1b5e20;
      }

      .signal {
        color: white;
      }
    }


    &.votingUp {
      border-color: transparent;

      .status {
        background-color: #43a047;
        border-color: #43a047;
      }

      .nickname {
        background-color: #124016;
      }

      .signal {
        color: black;
        background-color: #1b5e20;
      }
    }

    &.votingDown {
      border-color: transparent;

      .status {
        background-color: #e53935;
        border-color: #e53935;
      }

      .nickname {
        background-color: #620f0f;
      }

      .signal {
        color: black;
        background-color: #b71c1c;
      }
    }

    &.signaling {
      border-color: transparent;

      .status {
        background-color: #FDD835;
        border-color: #e53935;
      }

      .nickname {
        background-color: #6d6919;
      }

      .signal {
        background-color: #9e9824;
        background-color: #9e9824;
      }
    }
  }



  //////////////////////////////////
  // Styling for individual buttons
  //////////////////////////////////
  .round-button {
    &#raise-hand {
      background-color: #9e9824;
      background-color: #6d6919;

      &.active {
        background-color: #FDD835;
      }
    }

    &#vote-up {
      background-color: #25591d;

      &.active {
        background-color: #43a047;
      }
    }

    &#vote-down {
      background-color: #591d1d;

      &.active {
        background-color: #e53935;
      }
    }

    &#leave-room {
      background-color: #6f0e0e;
    }
  }
}