@import 'theme';
@import 'src/styles/elements/object-label.scss';

$app-individual: map-get($app-theme, individual);
$app-labels: map-get($app-theme, labels);

:host {
  height: 100%;
  width: 180px;
  background-color: map-get($app-individual, app-sidebar);
  margin: 0 auto 0 auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.05), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.06), 0 6px 6px rgba(0, 0, 0, 0.23);

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  &.detail-open {
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.06), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-left: 1px solid;
    border-left: 1px solid;
    border-left-color: black;
  }

  #scroll {
    overflow-y: auto;
    display: flex;
    height: calc(100% - 64px);
    flex-direction: column;

    #user-actions {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 8px;
    }

    // Design for all the other users, that have joined the chat
    #participants {
      flex-grow: 1;
    }

    h4 {
      margin: 8px auto 8px 8px;
    }

    label {
      margin-left: 8px;
      padding-bottom: 8px;
      font-weight: bold;
      font-size: 12px;
      line-height: 1.5;
      color: white;
    }

    /* width */
    &::-webkit-scrollbar {
      width: 12px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: mat-color($app-primary, darker_2);
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: map-get($app-individual, scrollbar-handle);
      border-radius: 6px;
      border: 2px solid;
      border-color: mat-color($app-primary, darker_2);
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: mat-color($app-primary, lighter_3);
    }
  }

  #control {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  ///////////////////////////////////////////
  // Styling for individual object-labels //
  /////////////////////////////////////////
  .object-label {
    border-color: mat-color($app-labels, user-label-border);

    &.user {
      cursor: default;
    }

    &.chat {
      border-color: mat-color($app-labels, chat-label-border);

      .status {
        background-color: mat-color($app-labels, chat-label-status);
      }

      .nickname {
        background-color: mat-color($app-labels, chat-label-nickname);
      }

      .signal {
        background-color: mat-color($app-labels, chat-label-signal);
      }

      &.messaged .status {
        background-color: orangered;
      }
    }

    &.micActive {
      border-color: mat-color($app-labels, user-label-border);

      .status {
        background-color: mat-color($app-labels, user-label-status);
      }

      .nickname {
        background-color: mat-color($app-labels, user-label-nickname);
      }

      .signal {
        background-color: mat-color($app-labels, user-label-signal);
      }
    }

    &.votingUp {
      border-color: mat-color($app-labels, vote-up-label-border);

      .status {
        background-color: mat-color($app-labels, vote-up-label-status);
      }

      .nickname {
        background-color: mat-color($app-labels, vote-up-label-nickname);
      }

      .signal {
        color: black;
        background-color: mat-color($app-labels, vote-up-label-signal);
      }
    }

    &.votingDown {
      border-color: mat-color($app-labels, vote-down-label-border);

      .status {
        background-color: mat-color($app-labels, vote-down-label-status);
      }

      .nickname {
        background-color: mat-color($app-labels, vote-down-label-nickname);
      }

      .signal {
        color: black;
        background-color: mat-color($app-labels, vote-down-label-signal);
      }
    }

    &.signaling {
      border-color: mat-color($app-labels, signaling-label-border);

      .status {
        background-color: mat-color($app-labels, signaling-label-status);
      }

      .nickname {
        background-color: mat-color($app-labels, signaling-label-nickname);
      }

      .signal {
        background-color: mat-color($app-labels, signaling-label-signal);
      }
    }
  }

  /////////////////////////////////////
  // Styling for individual buttons //
  ///////////////////////////////////
  .round-button {
    &#raise-hand {
      background-color: mat-color($app-labels, signaling-label-nickname);

      &.active {
        background-color: mat-color($app-labels, signaling-label-status);
      }
    }

    &#vote-up {
      background-color: mat-color($app-labels, vote-up-label-nickname);

      &.active {
        background-color: mat-color($app-labels, vote-up-label-status);
      }
    }

    &#vote-down {
      background-color: mat-color($app-labels, vote-down-label-nickname);

      &.active {
        background-color: mat-color($app-labels, vote-down-label-status);
      }
    }

    &#leave-room {
      color: mat-color($app-secondary, darker_1-contrast);
      background-color: mat-color($app-secondary, darker_1);
    }
  }
}
